{
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
